:root {
    /*colors*/
    --mountain-green: #2D6A4F;
    --jungle-green: #40916C;
    --sunset-orange: #f77f00;
    --golden-sun: #ffb703;
    --sky-background: #f8f9fa;
    --volcano-text: #212529;
    --heading-font: "Lora", serif;
    --body-font: "Roboto", sans-serif;
}

.raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
    margin: 0;
    font-family: var(--body-font);
}

header {
    color: white;
    background-color: var(--mountain-green);
    text-align: center;
    padding: 1rem;
}

.logo {
    font-family: var(--heading-font);
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--sky-background);
}

nav {
    color: var(--sky-background);
}
h1, h2, h3 {
    color: var(--mountain-green);
    font-family: var(--heading-font);
}

main {
    color: var(--volcano-text);
    background-color: var(--sky-background);
    padding: 1rem;
    max-width: 900px;
    margin: auto;
}


footer {
    color: white;
    background-color: var(--mountain-green);
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
}

section {
    margin-bottom: 2rem;
}