:root {
    /*colors*/
    --mountain-green: #2D6A4F;
    --jungle-green: #40916C;
    --sunset-orange: #f77f00;
    --golden-sun: #ffb703;
    --sky-background: #f8f9fa;
    --volcano-text: #212529;
}

header {
    color: var(--volcano-text);
}

h1 {
    background-color: var(--mountain-green);
}

nav {
    color: var(--volcano-text);
}

main {
    color: var(--volcano-text);
    background-color: var(--sky-background);
}


footer {
    color: var(--volcano-text);
    background-color: var(--mountain-green);
}
