:root {
    /*colors*/
    --mountain-green: #2D6A4F;
    --jungle-green: #40916C;
    --sunset-orange: #f77f00;
    --golden-sun: #ffb703;
    --sky-background: #f8f9fa;
    --volcano-text: #212529;
    --heading-font: "Lora", serif;
    --body-font: "Roboto", sans-serif;

}

header {
    color: white;
    background-color: var(--mountain-green);
    text-align: center;
    padding: 1rem;
}

h1, h2, h3 {
    color: var(--mountain-green);
    font-family: var(--heading-font);
}

main {
    color: var(--volcano-text);
    background-color: var(--sky-background);
    padding: 1rem;
}


footer {
    color: white;
    background-color: var(--mountain-green);
    padding: 1rem;
    text-align: center;
}
