@media screen and (min-width: 700px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 1rem;
    }

    header h1, h2 {
        padding: 1rem 0;
        text-align: left;
    }

    #menu {
        display: none;
    }

    nav,
    .navigation {
        display: flex;
        flex-direction: row;
        background-color: transparent;
    }

    nav a {
        padding: 1.25rem 1rem;
    }

    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}