body {
  padding: 5%;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  width: 500px;
  border-collapse: collapse;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

caption {
  caption-side: bottom;
  padding: 0.2rem;
  font-size: 1rem;
}

th,
td {
  padding: 0.65rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}

thead th,
tbody td {
  text-align: center;
}

thead {
  color: #ffffff;
  background-color: #000000;
}

thead th {
  padding: 1rem;
  font-size: 1.4rem;
}

thead tr:last-child {
  background-color: #333333;
}

tbody th {
  font-size: 1.2rem;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #eeeeee;
}

.blank {
  background-color: #000000;
}
