* :root {
    --primary-color: #bbb;
    --secondary-color: #e6f2ff;
    --ter--color: #fff;
    --one: #000
}

body {
    font-family: 'Roboto', sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid var(--primary-color);
    padding: 1rem;
    background-color: var(--secondary-color);
}

header {
    background-color: var(--one);
    color: var(--ter--color);
}

main {
    display: grid;
    grid-template-columns: 1fr ;
    grid: 1rem;
}

section {
    padding: 1rem;
    background-color: var(--ter--color);
}

h1, h2, p { 
    margin-top: 0;
}

